body {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    font-family: var(--font-family) !important;
    font-size: var(--font-size) !important;
}

.navbar {
    background-color: var(--primary-color) !important;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: var(--text-color) !important;
}

.navbar .nav-link:hover {
    color: var(--secondary-color) !important;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn-primary:hover {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}

.dropdown-menu {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

.dropdown-item:hover {
    background-color: var(--secondary-color) !important;
    color: var(--background-color) !important;
}

a {
    color: var(--primary-color) !important;
}

a:hover {
    color: var(--secondary-color) !important;
}

.btn {
    color: var(--text-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color) !important;
}

footer {
    background-color: var(--primary-color) !important;
    color: var(--text-color) !important;
    padding: 1rem;
    text-align: center;
}
